app/static/BigVideo/* linguist-vendored
app/static/ckeditor/* linguist-vendored
app/static/element-ui/* linguist-vendored
app/static/font-awesome-4.7.0/* linguist-vendored
app/static/baidu-analysis.js linguist-vendored
app/static/bootstrap.min.js linguist-vendored
app/static/bootstrap.min.css linguist-vendored
app/static/jquery.min.js linguist-vendored
app/static/vue.js linguist-vendored
app/static/trianglify.min.js linguist-vendored
app/static/pdfjs-1.5.188/* linguist-vendored
app/static/highlight.js/* linguist-vendored
app/static/taggingJS-1.3.3/* linguist-vendored
app/static/anime.js linguist-vendored
app/static/anime-click.js linguist-vendored
app/static/qrcode.js linguist-vendored
app/static/audiojs/* linguist-vendored