<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title></title>
    <link rel="stylesheet" href="{{ url_for('main.static',filename='bootstrap.min.css') }}">

    <script src="{{ url_for('main.static',filename='ckeditor/ckeditor.js') }}"></script>
    <script src="{{ url_for('main.static',filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('main.static',filename='bootstrap.min.js') }}"></script>

</head>
<body>
<textarea id="TextArea1" cols="20" rows="2" class="ckeditor"></textarea>
</body>
</html>