<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title></title>
    <link rel="stylesheet" href="{{ url_for('main.static',filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('main.static',filename='font-awesome-4.7.0/css/font-awesome.min.css') }}">

    <script src="{{ url_for('main.static',filename='ckeditor/ckeditor.js') }}"></script>
    <script src="{{ url_for('main.static',filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('main.static',filename='bootstrap.min.js') }}"></script>
    <style>
        #postcard {background-color: #1d75b3}
        #postcard > h1 {color: #FFFFFF;text-align: center}
        .container {margin-top: 1px;}
        .jumbotron > .container {
            margin-bottom: -30px;
        }
        .jumbotron > .container > ul > li > a {
            font-size: 20px;
            color: #FFFFFF;
        }
        .jumbotron > .container > ul > li > a:hover {
            color: #1d75b3;
        }
        #article_table > tbody > tr > td:first-child {text-align: center;vertical-align: middle!important;}
        .fa-trash-o:hover {box-shadow: 1px 1px 1px 1px;}
        .fa-pencil:hover {box-shadow: 1px 1px 1px 1px;}
    </style>
</head>
<body>
<!-- -->
<div class="jumbotron" id="postcard">
    <h1>Welcome to the Administrator Backend.</h1>
    <hr style="width: 150px;">
    <div class="container">
        <ul class="nav nav-pills nav-justified" role="tablist">
            <li><a href="#new-article" data-toggle="tab" title="新增一篇文章"><i class="fa fa-plus"></i>&nbsp;Add New</a></li>
            <li><a href="#manage-article" data-toggle="tab" title="管理已经存在的文章"><i class="fa fa-dashboard"></i>&nbsp;Manage Old</a></li>
        </ul>
    </div>
</div>

<div class="tab-content">
    <div class="modal fade" id="check_to_delete" tabindex="-1" role="dialog" aria-labelledby="modallabel" aria-hidden="true">
            <div class="modal-dialog modal-sm"><!--small modal-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                            <span style="color:red;"><i class="fa fa-exclamation-triangle"></i>警告</span>
                        </h4>
                    </div>
                    <div class="modal-body">
                        <p>您正在尝试删除文章，该操作不可逆，确定吗？</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning" data-dismiss="modal" onclick="return false">关闭
                        </button>
                        <button type="button" class="btn btn-primary" id="confirm_to_delete">
                            确认
                        </button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>

    <!--manage articels in database-->
    <div id="manage-article" class="container tab-pane">
        <select name="" id="">
            <option value="">--Category--</option>
            <option value="">1</option>
            <option value="">2</option>
            <option value="">3</option>
        </select>
        <div class="table">
            <table class="table table-striped table-condensed">
            <tr>
                <td>标题</td>
                <td>标签</td>
                <td>正文</td>
                <td>创建日期</td>
                <td>状态</td>
                <td colspan="2">操作</td>
            </tr>
                {% for article in article_for_administration %}
                    <tr>
                    <td id="{{ article.uuid }}" style="display: none;"></td>
                    <td>{{ article.title }}</td>
                    <td>{{ article.tags }}</td>
                    <td>{{ article.content[:40] }}</td>
                    <td>{{ article.create_date.strftime("%Y-%m-%d %H:%M") }}</td>
                    <td>
                        <select name="" id="">
                            <option value="">{{ article.status }}</option>
                        </select>
                    </td>
                    <td><a href="#" data-toggle="tooltip" title="修改文章"><i class="fa fa-pencil" style="color: blue"></i></a></td>
                    <td><a href="#" data-toggle="tooltip" title="删除文章"><i class="fa fa-trash-o" style="color: red"></i></a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <!--ckeditor-->
    <div class="container tab-pane" id="new-article">
        <!--flashed messages write here when ajax received status-->
        <div class="alert alert-info" style="display: none;" id="message_add">
            <strong>新增成功!</strong> 文章已被添加至数据库，再次提交可以进行修改。注意文章发布状态！
        </div>
        <div class="alert alert-success" style="display: none;" id="message_update">
            <strong>更新成功!</strong> 文章已经被更新到数据库，再次保存继续更新文章。注意文章发布状态！
        </div>
        <div class="alert alert-warning" style="display: none;" id="message_failed">
            <strong>操作失败!</strong> 原因是输入了不被允许的字段值，请检查输入是否有误。
        </div>
        <!--form-->
        <form action="" method="post" id="article_form">
            <input type="hidden" name="_crsf_token" id="_crsf_token" value="{{ crsf_token() }}">
            <input type="hidden" name="_uuid" id="_uuid" value="{{ uuid() }}"><!--insert uuid here,updated only when the page refreshed-->
            <div class="table">
                <table class="table table-condensed table-bordered" id="article_table">
                    <div class="row">
                    <tr>
                        <td>文章标题</td>
                        <td><input type="text" name="title" required="required" id="article_title"></td>
                    </tr>
                    <tr>
                        <td>文章分类</td>
                        <td>
                            <select name="category" id="article_category">
                                <option value="">--分类--</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>文章状态</td>
                        <td>
                            <select name="status" id="article_status">
                                <option value="DRAFTED">草稿</option>
                                <option value="PUBLISHED">发布</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <textarea id="article_content" cols="20" rows="2" class="ckeditor" name="content"></textarea>
                        </td>
                    </tr>
                    </div>
                </table>
            </div>
    </form>
    </div>
</div>
<script>
    var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }}
    $(document).ready(function () {
        //data-toggle tooltip
        $("[data-toggle='tooltip']").tooltip();
        //use ajax not to refresh the page
        var editor = CKEDITOR.instances['article_content'];
        editor.on('instanceReady',function (event) {
            //when add a new article, clear all data of form
            editor.addCommand('save',{
                exec:function () {
                    var flag = 'add_article';//flag indicator to distinguish different POST requests
                    var uuid = $("#_uuid").val();
                    var crsf_token = $("#_crsf_token").val();
                    var article_title = $("#article_title").val();
                    var article_category = $("#article_category").val();
                    var article_status = $("#article_status").val();
                    var article_content = editor.getData();//get html source code of editor,through the id
                    var article_edit_date = new Date().toISOString();//UTC +00
                    //CKEDITOR.instances['article_content'].setData() set Data to CKEDITOR
                    //console.log(article_title,article_category,article_status,article_content);
                    $.ajax({
                        url:$SCRIPT_ROOT + '/api/article/uuid/' + uuid,
                        type:'PUT',
                        data:{
                            "_method":"PUT",
                            "edit_date":article_edit_date,
                            "uuid":uuid,
                            "_crsf_token":crsf_token,
                            "title":article_title,
                            "category":article_category,
                            "status":article_status,
                            "content":article_content
                        },
                        dataType:'json',
                        success:function (res) {
                            if(res['message'] == "update") {
                                $("#message_update").show().delay(3000).fadeOut();
                            }
                            if(res['message'] == "add") {
                                $("#message_add").show().delay(3000).fadeOut();
                            }
                        },//success
                        error:function (res) {
                            $("#message_failed").show().delay(4000).fadeOut();
                        }//error
                    });//ajax here
                }//exec function
            });//editor.addCommand() function
            //new page logical here
            editor.addCommand('newpage',{
                exec:function () {
                    //reset the form
                    $("#article_form")[0].reset();
                    //update uuid
                    $.ajax({
                        url:$SCRIPT_ROOT + 'api/tools/uuid/',
                        type:'POST',
                        dataType:'json',
                        success:function (res) {
                            //console.log(res['uuid']);
                            $("#_uuid").attr('value',res['uuid']);
                        },//success
                        error:function (res) {}//error
                    });//ajax here
                    editor.setData();
                }//exec
            });//editor.addCommand
        });//editor.on() function
        //for manager page
        $("li a").click(function () {
            $("h1,hr").hide();
        });

        $("i.fa.fa-pencil").click(function () {
            //click and redirect to the url of article (use uuid)/editor
        });

        $("i.fa.fa-trash-o").click(function () {
            var uuid = $(this).parents('td').siblings('td:first').attr('id');
            $("#check_to_delete").modal("show");
            $("#check_to_delete .modal-body p").attr("id",uuid);
            //console.log(uuid);
            //ajax to delete the article
        });

        $("#confirm_to_delete").click(function () {
            var uuid = $(this).parents().siblings(".modal-body").children("p").attr("id");
            $.ajax({
                type:'delete',
                url:$SCRIPT_ROOT + 'api/article/uuid/' + uuid,
                data:{"_method":"DELETE"},
                dataType:"json",
                success:function () {
                    console.log('success');
                    $("#check_to_delete").modal("hide");
                }
           });
        });
    })
</script>
</body>
</html>