<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title></title>
    <link rel="stylesheet" href="{{ url_for('main.static',filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('main.static',filename='font-awesome-4.7.0/css/font-awesome.min.css') }}">

    <script src="{{ url_for('main.static',filename='ckeditor/ckeditor.js') }}"></script>
    <script src="{{ url_for('main.static',filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('main.static',filename='bootstrap.min.js') }}"></script>
    <script src="{{ url_for('main.static',filename='for-editor.js') }}"></script>

    <style>
        body{font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;}
        #article_table > tbody > tr > td:first-child {text-align: center;vertical-align: middle!important;}
        .second-menu > li {text-indent:2%;}
        .nav-header > a > .fa-angle-down {float:right;}
        .fa-angle-down {padding: 5px 5px}
        .hover_image {display: none}
        .hover_show:hover .hover_image {
            background: #ffffb6;
            padding: 10px;
            border: 1px #dadada solid;
            border-radius: 10px;
            box-shadow: 5px 5px 5px #dadada;
            display: block;
            position: absolute;
            z-index: 99;
        }
    </style>
</head>
<body>
<!-- -->
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Admin Panel</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">操作<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li role="presentation"><a href="">返回Blog首页</a></li>
            </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user-circle-o"></i>&nbsp;{{ current_user.user }}</a>
          <ul class="dropdown-menu" role="menu">
            <li role="presentation"><a href="#"><i class="fa fa-file-text"></i>&nbsp;Profile</a></li>
            <li role="presentation"><a href="?logout=True"><i class="fa fa-power-off"></i>&nbsp;Log out</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid" id="page">
    <div class="row">
        <div class="col-md-2">
            <div id="sidebar" class="panel panel-default">
                <div class="panel-heading"><a href="#" data-toggle="collapse"><i class="fa fa-angle-double-left"></i></a></div>
                <ul class="nav nav-list">
                    <li><a href="#"><i class="fa fa-dashboard"></i>&nbsp;仪表盘</a></li>
                    <li class="nav-header"><a href="#manage_article" data-toggle="collapse"><i class="fa fa-book"></i>&nbsp;图书馆<i class="fa fa-angle-down"></i></a></li>
                        <ul id="manage_article" class="nav nav-list collapse second-menu">
                            <li role="presentation"><a href="#new-article" data-toggle="tab"><i class="fa fa-plus-circle"></i>&nbsp;新增文章</a></li>
                            <li role="presentation"><a href="#article" data-toggle="tab" id="article-tab"><i class="fa fa-gear"></i>&nbsp;管理文章</a></li>
                            <li role="presentation"><a href="#comments" data-toggle="tab" id="comments-tab"><i class="fa fa-comments-o"></i>&nbsp;评论管理</a></li>
                        </ul>
                    <li class="nav-header"><a href="#manage_system" data-toggle="collapse"><i class="fa fa-th"></i>&nbsp;其他<i class="fa fa-angle-down"></i></a></li>
                        <ul id="manage_system" class="nav nav-list collapse second-menu">
                            <li role="presentation"><a href="#files" data-toggle="tab" id="files-tab"><i class="fa fa-image"></i>&nbsp;静态文件管理</a></li>
                            <li role="presentation"><a href="#keywords" data-toggle="tab" id="keywords-tab"><i class="fa fa-stethoscope"></i>&nbsp;关键词检索</a></li>
                            <li role="presentation"><a href="#performance" data-toggle="tab" id="performance-tab"><i class="fa fa-superpowers"></i>&nbsp;性能检测</a></li>
                        </ul>
                </ul>
            </div>
        </div>
        <div class="col-md-10">
            <div class="tab-content">
                <!--modal-->
                <div class="modal fade" id="check_to_delete" tabindex="-1" role="dialog" aria-labelledby="modallabel" aria-hidden="true">
                        <div class="modal-dialog modal-sm"><!--small modal-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                        &times;
                                    </button>
                                    <h4 class="modal-title" id="myModalLabel">
                                        <span style="color:red;"><i class="fa fa-exclamation-triangle"></i>警告</span>
                                    </h4>
                                </div>
                                <div class="modal-body">
                                    <p>您正在尝试删除文章，该操作不可逆，确定吗？</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-warning" data-dismiss="modal" onclick="return false">关闭
                                    </button>
                                    <button type="button" class="btn btn-primary" id="confirm_to_delete">
                                        确认
                                    </button>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal -->
                    </div>
                <!--ckeditor-->
                <div class="tab-pane panel panel-info" id="new-article">
                    <div class="panel-heading">CKEditor</div>
                    <div class="panel-body">
                        <div>
                            <!--flashed messages write here when ajax received status-->
                            <div class="alert alert-info" style="display: none;" id="message_add">
                                <strong>新增成功!</strong> 文章已被添加至数据库，再次提交可以进行修改。注意文章发布状态！
                            </div>
                            <div class="alert alert-success" style="display: none;" id="message_update">
                                <strong>更新成功!</strong> 文章已经被更新到数据库，再次保存继续更新文章。注意文章发布状态！
                            </div>
                            <div class="alert alert-warning" style="display: none;" id="message_failed">
                                <strong>操作失败!</strong> 原因是输入了不被允许的字段值，请检查输入是否有误。
                            </div>
                            <!--form-->
                            <form action="" method="post" id="article_form">
                                <input type="hidden" name="_crsf_token" id="_crsf_token" value="{{ crsf_token() }}">
                                <input type="hidden" name="_uuid" id="_uuid" value="{{ uuid() }}"><!--insert uuid here,updated only when the page refreshed-->
                                <div class="table">
                                    <table class="table table-condensed table-bordered" id="article_table">
                                        <div class="row">
                                        <tr>
                                            <td>文章标题</td>
                                            <td><input type="text" name="title" required="required" id="article_title"></td>
                                        </tr>
                                        <tr>
                                            <td>文章分类</td>
                                            <td>
                                                <select name="category" id="article_category">
                                                    <option value="">--分类--</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>文章状态</td>
                                            <td>
                                                <select name="status" id="article_status">
                                                    <option value="DRAFTED">草稿</option>
                                                    <option value="PUBLISHED">发布</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <textarea id="article_content" cols="20" rows="2" class="ckeditor" name="content"></textarea>
                                            </td>
                                        </tr>
                                        </div>
                                    </table>
                                </div>
                        </form>
                        </div>
                    </div>
                </div>
                <!--manage article-->
                <div class="tab-pane panel panel-info" id="article">
                    <div class="panel-heading">Manage Articles<a href="#"><i class="fa fa-refresh" style="float: right;display: block;vertical-align: middle;padding: 5px 5px;" id="article-refresh"></i></a></div>
                    <div class="panel-body"></div>
                </div>
                <!--manage comments-->
                <div class="tab-pane panel panel-warning" id="comments">
                    <div class="panel-heading">Manage Comments<a href="#"><i class="fa fa-refresh" style="float: right;display: block;vertical-align: middle;padding: 5px 5px;" id="comments-refresh"></i></a></div>
                    <div class="panel-body"></div>
                </div>
                <!--file management-->
                <div class="tab-pane panel panel-info" id="files">
                    <div class="panel-heading">Manage Static Files<a href="#"><i class="fa fa-refresh" style="float: right;display: block;vertical-align: middle;padding: 5px 5px;" id="files-refresh"></i></a></div>
                    <div class="panel-body"></div>
                </div>
                <!-- key words -->
                <div class="tab-pane panel panel-warning" id="keywords">
                    <div class="panel-heading">Keywords Search(Word Cloud)<a href="#"><i class="fa fa-refresh" style="float: right;display: block;vertical-align: middle;padding: 5px 5px;" id="keywords-refresh"></i></a></div>
                    <div class="panel-body"></div>
                </div>
                <!-- website performance -->
                <div class="tab-pane panel panel-info" id="performance">
                    <div class="panel-heading">Website status<a href="#"><i class="fa fa-refresh" style="float: right;display: block;vertical-align: middle;padding: 5px 5px;" id="performance-refresh"></i></a></div>
                    <div class="panel-body"></div>
                </div>
            </div><!--tab content-->
        </div>
    </div>
</div>

<script>
    var $SCRIPT_ROOT = "{{ request.script_root|safe }}";
    var $AUTHOR = "{{ current_user.user }}";
    var temp_1_url = "{{ url_for('main.main_temp_1') }}";
    var temp_3_url = "{{ url_for('main.main_temp_3') }}";
    var temp_4_url = "{{ url_for('main.main_temp_4') }}";

    $(document).ready(function () {
        //data-toggle tooltip
        $("[data-toggle='tooltip']").tooltip();
        //use ajax not to refresh the page
        var editor = CKEDITOR.instances['article_content'];
        editor.on('instanceReady',function (event) {
            //when add a new article, clear all data of form
            editor.addCommand('save',{
                exec:function () {
                    var flag = 'add_article';//flag indicator to distinguish different POST requests
                    var uuid = $("#_uuid").val();
                    var crsf_token = $("#_crsf_token").val();
                    var article_title = $("#article_title").val();
                    var article_category = $("#article_category").val();
                    var article_status = $("#article_status").val();
                    var article_content = editor.getData();//get html source code of editor,through the id
                    var article_edit_date = new Date().toISOString();//UTC +00
                    //CKEDITOR.instances['article_content'].setData() set Data to CKEDITOR
                    //console.log(article_title,article_category,article_status,article_content);
                    $.ajax({
                        beforeSend:function (request) {request.setRequestHeader("Authorization", BasicAuthorizationCode(get_token(),"unused"));},
                        url:$SCRIPT_ROOT + '/api/article/uuid/' + uuid,
                        type:'PUT',
                        data:{
                            "_method":"PUT",
                            "edit_date":article_edit_date,
                            "uuid":uuid,
                            "author":$AUTHOR,//have bug here
                            "_crsf_token":crsf_token,
                            "title":article_title,
                            "category":article_category,
                            "status":article_status,
                            "content":article_content
                        },
                        dataType:'json',
                        success:function (res) {
                            if(res['message'] == "update success") {
                                $("#message_update").show().delay(3000).fadeOut();
                            }
                            if(res['message'] == "add success") {
                                $("#message_add").show().delay(3000).fadeOut();
                            }
                        },//success
                        error:function (res) {
                            $("#message_failed").show().delay(4000).fadeOut();
                        }//error
                    });//ajax here
                }//exec function
            });//editor.addCommand() function
            //new page logical here
            editor.addCommand('newpage',{
                exec:function () {
                    //reset the form
                    $("#article_form")[0].reset();
                    //update uuid
                    $.ajax({
                        beforeSend:function (request) {request.setRequestHeader("Authorization", BasicAuthorizationCode(get_token(),"unused"));},
                        url:$SCRIPT_ROOT + 'api/tools/uuid/',
                        type:'POST',
                        dataType:'json',
                        success:function (res) {
                            //console.log(res['uuid']);
                            $("#_uuid").attr('value',res['uuid']);
                        },//success
                        error:function (res) {}//error
                    });//ajax here
                    editor.setData();
                }//exec
            });//editor.addCommand
        });//editor.on() function
        //when click the trash icon
        $("i.fa.fa-trash-o").on('click', modal_delete);
        //when confirm to delete the article, show modal
        $("#confirm_to_delete").on("click", function () {
            var uuid = $(this).parents().siblings(".modal-body").children("p").attr("id");
            console.log(uuid);
            $.ajax({
                beforeSend:function (request) {request.setRequestHeader("Authorization", BasicAuthorizationCode(get_token(),"unused"));},
                type:'delete',
                url:$SCRIPT_ROOT + 'api/article/uuid/' + uuid,
                data:{"_method":"DELETE"},
                dataType:"json",
                success:function () {
                    console.log('success');
                    $("#check_to_delete").modal("hide");
                }
           });
        });
        //ajax load <option></option> from database
        //when change options in select tags, do the same to database
        $(".select_of_status").on({
            click: select_click,
            change: select_select
        });
        //ajax refresh the page after do changes with article
        $("#article-refresh").on('click', get_article);
        $("#article-tab").on("shown.bs.tab", get_article);
        //ajax for comments need to be handled
        $("#comments-refresh").on("click", get_comments);
        $("#comments-tab").on("shown.bs.tab", get_comments);
        //static file management
        $("#files-refresh").on("click", get_static_file);
        $("#files-tab").on("shown.bs.tab", get_static_file);
        $('a[data-toggle="tab"]').on('shown.bs.tab', function(e) {
            console.log($(e.target));
        });
    })
</script>
</body>
</html>
