<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
{% if not comments %}
    <div>There's nothing to show here!</div>
{% else %}
    <div class="table table-responsive">
    <table class="table table-bordered">
        <tr>
            <td>文章编号</td>
            <td>评论日期</td>
            <td>评论作者</td>
            <td>评论者邮箱</td>
            <td>评论内容</td>
            <td colspan="3">操作</td>
        </tr>
    {% for comment in comments %}
        <tr>
            <td><a href="/{{ current_user.user }}/blog/article/{{ comment.uid }}" target="_blank" title="{{ comment.id }}">访问</a></td>
            <td>{{ comment.message_date.strftime("%Y-%m-%d %H:%M") }}</td>
            <td>{{ comment.rdr_name }}</td>
            <td>{{ comment.rdr_mail }}</td>
            <td>{{ comment.rdr_message }}</td>
            <td>
                <button data-toggle="tooltip" title="删除评论" class="btn btn-sm btn-default btn-block del_comment"><i class="fa fa-remove" style="color: red"></i></button>
            </td>
            <td>
                <button data-toggle="tooltip" title="允许评论展示" class="btn btn-sm btn-default btn-block approve_comment"><i class="fa fa-check" style="color: green" ></i></button>
            </td>
            <td>
                <button class="btn btn-sm btn-default btn-block">回复</button>
            </td>
        </tr>
    {% endfor %}
    </table>
    </div>
{% endif %}
</body>
</html>