<!DOCTYPE html>
<html lang="en">
<body>
<div>
    <!-- add pagination to show more comments -->
    <label for="well-content">评论<span class="caret"></span></label>
    <!-- only if have comments -->
    {% if comments %}
        <div class="well" id="well-content">
        {% for comment in comments %}
            <a name="comment-{{ comment.id }}" id="comment-{{ comment.id }}" style="display: none;"></a>
            <div class="media">
            <a href="#" class="pull-left"><img src="{{ comment.rdr_mail|gravatar_url }}" alt="" class="media-object" width="25" height="25"></a>
            <div class="media-body">
                <div class="media-heading">{{ comment.rdr_name }} at {{ comment.message_date.strftime("%Y/%m/%d %H:%M") }}</div>
                {{ comment.rdr_message }}
            </div>
        </div>
        {% endfor %}
        </div>
    {% else %}
        <div class="well">
            <div>暂无评论，快来抢沙发吧</div>
        </div>
    {% endif %}

    <!-- submit form -->
    <label for="leave-a-message">留言<span class="caret" data-toggle="collapse" data-target="#leave-a-message"></span></label>
    <div class="well collapse in" id="leave-a-message">
        <div class="form-group">
        <form action="" class="form" method="post">
            <input type="hidden" name="_crsf_token" id="_crsf_token" value="{{ crsf_token() }}">
            <div class="form-group">
                <label for="nickname">显示名称</label>
                <input type="text" placeholder="输入昵称，将会在评论席显示" required="required" name="nickname" id="nickname" class="form-control">
            </div>
            <div class="form-group">
                <label for="mail-address">邮箱</label>
                <input type="email" placeholder="输入邮箱，系统会保护你的个人隐私" required="required" name="mail-address" id="mail-address" class="form-control">
            </div>
            <div class="form-group">
                <label for="comment-content">内容</label>
                <textarea type="text" placeholder="输入评论，将在作者审核通过后显示" name="comment-content" id="comment-content" class="form-control" required="required" style="resize: none;"></textarea>
            </div>
            <input type="submit" class="btn btn-info btn-block">
        </form>
    </div>
    </div>
</div>
</body>
</html>