<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="{{ url_for('main.static',filename='bootstrap-lumen.min.css') }}">
    <script src="{{ url_for('main.static',filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('main.static',filename='bootstrap.min.js') }}"></script>

    <title>忘记密码</title>
</head>
<style>
    body{
        font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
    }

    .container {margin-top: 100px;}
    .messages {color: red;font-style: oblique}
</style>

<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <!-- toggle for responsive screen -->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" aria-controls="navbar" aria-expanded="false" data-target="#fullmoon-navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">Full Moon</a><!-- logo for navibar -->
        </div><!--navbar header-->

        <!-- navbar links -->
        <div class="collapse navbar-collapse navbar-responsive-collapse" id="fullmoon-navbar">
            <form action="" class="navbar-form navbar-right">
                <a href="{{ url_for('main.main_login') }}" class="btn btn-default" type="submit">返回登陆</a>
            </form>
        </div><!-- navbar-collapse -->
    </div><!--container-fluid-->
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">发送验证邮件</h3>
                </div>
                <div class="panel-body">
                    <form role="form" method="post" id="form1">
                    <input type="hidden" name="_crsf_token" value="{{ crsf_token() }}">
                        {% if session.mail_send_for_reset %}
                            <p>一封验证邮件已经发送到你的邮箱{{ session.get("mail_send_for_reset") }}</p>
                            <input type="submit" id="send-verify-code" class="btn btn-success btn-block" value="重新发送">
                        {% else %}
                            <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="输入邮箱" name="user" id="user"
                                       autofocus required autocomplete="off">
                            </div>

                            <div class="form-group">
                                <div class="messages" id="messages">
                                </div>
                            </div>
                            <input type="submit" id="send-verify-code" class="btn btn-success btn-block" value="发送验证邮件">
                        </fieldset>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $("#send-verify-code").click(function(){
        var auto_close = function(){

            alert("用户不存在");

            if (navigator.userAgent.indexOf("Firefox") != -1 || navigator.userAgent.indexOf("Chrome") !=-1) {
                   window.location.href="about:blank";
                   window.close();
               } else {
                   window.opener = null;
                   window.open("", "_self");
                   window.close();
            }
        };

        $.ajax({
            beforeSend: function(){
                if ($("[name='user']").val() == "") {alert("输入用户名");return false;}
            },
            type: "post",
            data: {"user": $("[name='user']").val()},
            dataType: "json",
            url: "/reset",
            async: "false",
            success: function (res) {
                var countdown = 60;

                $("[name='user']").attr("disabled", "disabled");//prevent to input again

                function countdown_message(obj){
                    if (countdown == 0) {
                        obj.removeAttribute("disabled");
                        obj.value="发送验证邮件";
                        countdown = 60;
                        return false;
                    } else {
                        obj.setAttribute("disabled", true);
                        obj.value="已发送，重新发送(" + countdown + ")";
                        countdown--;
                    }

                    setTimeout(function() {countdown_message(obj)},1000)
                }

                countdown_message($("#send-verify-code")[0]);
            },
            error : function (res) {
                var countdown = 20;

                function error_message(obj){

                    if (countdown == 0) {
                        obj.removeAttribute("disabled");
                        obj.value="发送验证邮件";
                        countdown = 20;
                        return false;
                    } else {
                        obj.setAttribute("disabled", true);
                        obj.value="用户名不存在，请(" + countdown + ")秒后再试";
                        countdown--;
                    }

                    setTimeout(function() {error_message(obj)},1000)
                }

                error_message($("#send-verify-code")[0]);
            }
        });
        return false
    });
</script>
</body>
</html>