<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="{{ url_for('cxw.static',filename='bootstrap-paper.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('cxw.static',filename='font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <script src="{{ url_for('cxw.static',filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('cxw.static',filename='bootstrap.min.js') }}"></script>
    <title>陈晓伟的博客</title>
    <style>
        body {
            font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
        }
        @media (max-width: 767px) {
            .col-md-4 {
                clear: both;
                display: none;
            }
        }
        .tag {
            color: #4078c0;
            font-size: 12px;
            display: inline-block;
            background-color: #f2f8fa;
            border-radius: 3px;
            padding: 0.2em 0.9em;
            margin: 0 0.5em 0.5em 0;
            white-space: nowrap;
        }
        .tag > a {
            text-decoration: none;
        }
        .tag:hover {
            box-shadow: 0 0 2px 2px silver;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><i class="fa fa-moon-o"></i>&nbsp;Full Moon</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">操作面板<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
          {% if current_user.is_authenticated %}
              <li role="presentation"><a href="{{ url_for('main.main_edit') }}"><i class="fa fa-user-o"></i>&nbsp;登陆管理后台</a></li>
          {% else %}
              <li><a href="{{ url_for('main.main_edit') }}"><i class="fa fa-angle-double-right"></i>&nbsp;添加新文章</a></li>
          {% endif %}
          <li><a href="{{ url_for("scc.scc_root") }}"><i class="fa fa-smile-o"></i>&nbsp;查看我老婆的博客</a></li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">关于我<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{{ url_for("cxw.cxw_resume") }}" target="_blank"><i class="fa fa-question"></i>&nbsp;我是谁</a></li>
            <li class="divider"></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

{% if published_article %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>全部列表</h3>
                <ul>
                    <li><a href="{{ url_for('cxw.archive_all', date_filter="all") }}">全部文章</a></li>
                    {% for e in archive %}
                        <li><a href="{{ url_for('cxw.archive_all', date_filter=e[0][:6]) }}">{{ e[0] }}</a></li>
                    {% endfor %}
                </ul>
                <!-- a heat map for article here-->
                <hr>
                <h3>分类</h3>
                {% for k, v in tags.items() %}
                    <li class="tag"><a href="{{ url_for("cxw.tag_archive", tag_filter=k) }}">{{ k }}({{ v.nums }})</a></li>
                {% endfor %}
                <!-- a word cloud here -->
                <hr>

            </div>
            <div class="col-md-8 col-xs-12">
                <h3>目录(共{{ published_article|length }}篇)</h3>
                {% for article in published_article %}
                    <div style="overflow: hidden;border-bottom: 1px #dadada dashed">
                    <div style="float: left;"><a href="{{ url_for('cxw.cxw_article', uuid=article.uuid) }}" target="_blank">{{ article.title }}</a></div>
                    <div style="float: right;">{{ article.create_date.strftime("%Y-%m-%d %H:%M") }}</div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% else %}
    <div class="container" style="text-align: center;">
        <div style="color: #F92672;">尚无文章！或者数据获取失败！</div>
    </div>
{% endif %}
</body>
</html>