<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="{{ url_for('cxw.static',filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('cxw.static',filename='font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <script src="{{ url_for('cxw.static',filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('cxw.static',filename='bootstrap.min.js') }}"></script>
    <title>陈晓伟的博客</title>
    <style>
        body {
            font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><i class="fa fa-moon-o"></i>&nbsp;Full Moon</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">操作面板<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
          {% if current_user.is_authenticated %}
                <li role="presentation"><a href="{{ url_for('main.main_edit') }}"><i class="fa fa-user-o"></i>&nbsp;登陆管理后台</a></li>
          {% else %}
            <li><a href="{{ url_for('main.main_edit') }}"><i class="fa fa-angle-double-right"></i>&nbsp;添加新文章</a></li>
          {% endif %}
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">关于我<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#"><i class="fa fa-question"></i>&nbsp;我是谁</a></li>
            <li class="divider"></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

</body>
</html>