<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="{{ url_for('cxw.static',filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('cxw.static',filename='font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <script src="{{ url_for('cxw.static',filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('cxw.static',filename='bootstrap.min.js') }}"></script>
    <script src="{{ url_for('cxw.static',filename='pdfjs-1.5.188/build/pdf.js') }}"></script>
    <title>陈晓伟的简历</title>
    <style>
        body {
            font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">简历</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">其他链接<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">博客首页</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right" id="language">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">语言<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#english" data-toggle="tab">&nbsp;Eng</a></li>
            <li><a href="#chinese" data-toggle="tab">&nbsp;中文</a></li>
            <li><a href="#q_and_a" data-toggle="tab">&nbsp;其他你可能感兴趣的问题</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<!--iframe tab show-->
<div class="tab-content container" id="#languageConet">
    <div class="tab-pane" id="chinese">
        <iframe src="{{ url_for('main.main_pdf_render') }}?file={{ url_for('cxw.cxw_resume_file', filename="Convex Optimization.pdf") }}" frameborder="1"
        width="1200" height="1400"></iframe>
    </div>
    <div class="tab-pane active" id="english">
        <iframe src="{{ url_for('main.main_pdf_render') }}?file={{ url_for('cxw.cxw_resume_file', filename="Convex Optimization.pdf") }}" frameborder="1"
        width="1200" height="1400"></iframe>
    </div>
    <div class="tab-pane" id="q_and_a">
        write here
    </div>
</div>

<script>
//set a different background when choose different tab of english/chinese
</script>
</body>
</html>